<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>145280665477-m23laukldfon36bjthc9gnvec4qqvl6r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.145280665477-m23laukldfon36bjthc9gnvec4qqvl6r</string>
	<key>API_KEY</key>
	<string>AIzaSyA6OCF3h7iKXSY7zMj-gFSgjbrxWg_cp_Q</string>
	<key>GCM_SENDER_ID</key>
	<string>145280665477</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gks.jupiter</string>
	<key>PROJECT_ID</key>
	<string>jupiter-3db6c</string>
	<key>STORAGE_BUCKET</key>
	<string>jupiter-3db6c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:145280665477:ios:ba5cbaecb55a2a8634e6ec</string>
</dict>
</plist>